@model IEnumerable<BusinessObjects.UserType>

@{
    ViewBag.Title = "Index";   
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table role="presentation">
    <tbody>
        <tr>
            <th></th>
            <th>
                UserTypeName
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
                <td>
                    @item.UserTypeName
                </td>
            </tr>
        }
    </tbody>
</table>


