@model BusinessObjects.RegisterModel
@{
    ViewBag.Title = "Şifremi Unuttum";
}

<h2>Şifremi Unuttum</h2>
<div style="height:310px;">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Şifre yenileme formu</legend>
            <ol>
                <li>
                    @Html.Label("Kullanıcı E-mail Adresi", new { @for = "eMail", @class = "label label-default" })
                    <br />
                    <div class="clearfix"></div>
                    <br />
                    @Html.TextBoxFor(m => m.eMail, new { @class="form-control input-sm"})
                    <span style="color:red;">@TempData["Message"]</span>
                </li>
            </ol>
            <input type="submit" value="Şifremi Mailime gönder" class="btn btn-info" />
        </fieldset>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
