@model BusinessObjects.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">EqualId</div>
    <div class="display-field">@Model.EqualId</div>

    <div class="display-label">SubProductId</div>
    <div class="display-field">@Model.SubProductId</div>

    <div class="display-label">CategoryId</div>
    <div class="display-field">@Model.CategoryId</div>

    <div class="display-label">GroupId</div>
    <div class="display-field">@Model.GroupId</div>

    <div class="display-label">StatusId</div>
    <div class="display-field">@Model.StatusId</div>

    <div class="display-label">PlaceId</div>
    <div class="display-field">@Model.PlaceId</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Code</div>
    <div class="display-field">@Model.Code</div>

    <div class="display-label">Barcode</div>
    <div class="display-field">@Model.Barcode</div>

    <div class="display-label">Explanation</div>
    <div class="display-field">@Model.Explanation</div>

    <div class="display-label">ImagePath</div>
    <div class="display-field">@Model.ImagePath0</div>

    <div class="display-label">OfferedPrice</div>
    <div class="display-field">@String.Format("{0:F}", Model.OfferedPrice)</div>

    <div class="display-label">CurrentPrice</div>
    <div class="display-field">@String.Format("{0:F}", Model.CurrentPrice)</div>

    <div class="display-label">RecordDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.RecordDate)</div>

    <div class="display-label">LastAccessDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.LastAccessDate)</div>

    <div class="display-label">RegistererId</div>
    <div class="display-field">@Model.RegistererId</div>

    <div class="display-label">ModifierId</div>
    <div class="display-field">@Model.ModifierId</div>

    <div class="display-label">FeedCount</div>
    <div class="display-field">@Model.FeedCount</div>

    <div class="display-label">SpecialCode</div>
    <div class="display-field">@Model.SpecialCode</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>

    <div class="display-label">Category</div>
    <div class="display-field">@(Model.Category == null ? "None" : Model.Category.Name)</div>

    <div class="display-label">Denomination</div>
    <div class="display-field">@(Model.Denomination == null ? "None" : Model.Denomination.Name)</div>

    <div class="display-label">Mark</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Mark).ToString()</div>

    <div class="display-label">ProductGroup</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ProductGroup).ToString()</div>

    <div class="display-label">ProductPlace</div>
    <div class="display-field">@(Model.ProductPlace == null ? "None" : Model.ProductPlace.Name)</div>

    <div class="display-label">ProductState</div>
    <div class="display-field">@(Model.ProductState == null ? "None" : Model.ProductState.Name)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


